:root {
    --white : #e8e9ed;
    --gray : #57595c;
    --blue : #0F7DC2;
    --green : #00d084;
    --pink : #fd4b77;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

label {
    cursor: pointer;
}

[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

body {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin: 50px 0;
    background-color: #fdfbfb;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.switches {
    max-width: 500px;
    width: 90%;
    margin: 50px auto 0;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
}

.switches li {
    position: relative
    counter-increment: switchCounter;
}

/* select all children of .switches except the last child(last li) */
.switches li:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.switches li::before {
    content: counter(switchCounter);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    color: var(--pink);
}

.switches label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.switches span:last-child {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: var(--gray);
    transition: all 0.3s;
}

